footer.footer.section
            .wrapper
                .footer__content
                    .footer__left
                        .paginpage
                            a(href="#firstPage")
                            a(href="#secondPage")
                            a(href="#thirdPage")
                            a(href="#fourthPage")
                            a(href="#fifthPage")
                            a(href="#sixthPage")
                            a(href="#seventhPage")
                            a(href="#eighthpage").activepage
                    .footer__right
                        .footertop
                            .footertop__blockitem
                                a(href="javascript: void(0);") Modules 
                                a(href="https://digitalcontact.com/request-a-demo/?contact") AI-Driven Personalization 
                                a(href="https://digitalcontact.com/request-a-demo/?contact") Journey Automation
                                a(href="https://digitalcontact.com/request-a-demo/?contact") Campaign Management
                                a(href="https://digitalcontact.com/request-a-demo/?contact") Comprehensive Analytics 
                            .footertop__blockitem
                                a(href="javascript: void(0);") Company
                                a(href="https://digitalcontact.com/about/") About us
                                a(href="https://digitalcontact.com/careers/") Career
                                a(href="https://digitalcontact.com/Terms-of-Use/ ") Legal 
                            .footertop__blockitem.footertop__blockitem_column
                                a(href="https://digitalcontact.com/request-a-demo/?contact ") Book a demo 
                                a(href="https://digitalcontact.com/contact/") Contact us
                            //- .footertop__blockitem
                            //-     a(href="#") Contact us
                            .footertop__blockitem.footertop__blockitem_logo
                                .logolonk
                                    a(href="/") Digital<br> Contact
                                        span .
                                .blocksocials
                                    a(href="https://www.instagram.com/digital.contact/") 
                                        img(src="./images/insta.png", alt="")
                                    a(href="https://www.facebook.com/DigitalContactUS")
                                        img(src="./images/fb.png", alt="")
                                    a(href="https://www.youtube.com/channel/UC_WafvlJzmzoejpIwXZVqcA")
                                        img(src="./images/you.png", alt="")

                        .footerbottom
                            .footerbottom__blockitem
                                span SKY NETWORK CORPORATION 
                                span LIMITED
                                span Office 4, 10/F
                                span Kwan Chart Tower
                                span No. 6 Tonnochy Road, Wan Chai
                                span Hong Kong, PRC
                                a(href="#") info@digitalcontact.com
                            .footerbottom__blockitem 
                                span IT Service LLC
                                span 26c5, Leninskaya Sloboda, Simonov Plaza
                                span Moscow, 115280, Russian Federation
                                span Customer Service: 
                                    a(href="#") support@digitalcontact.com
                                span Public Relations: 
                                    a(href="#") marketing@digitalcontact.com
                            .blocksocials
                                a(href="https://www.instagram.com/digital.contact/") 
                                    img(src="./images/insta.png", alt="")
                                a(href="https://www.facebook.com/DigitalContactUS")
                                    img(src="./images/fb.png", alt="")
                                a(href="https://www.youtube.com/channel/UC_WafvlJzmzoejpIwXZVqcA")
                                    img(src="./images/you.png", alt="")
                            .footerbottom__bottomtext
                                .footerbottom__itemblock
                                    a(href="https://digitalcontact.com/Privacy-Policy/") Privacy Policy  
                                    a(href="https://digitalcontact.com/Anti-Spam-Policy/") Antispam
                                    a(href="https://digitalcontact.com/Privacy-Policy/") Privacy Policy  
                                .footerbottom__itemblock
                                    span © 2008-2019 Digital Contact. All Rights Reserved
                        
                        .footerbotbottom
                            a(href="https://digitalcontact.com/Privacy-Policy/") Privacy Policy
                            a(href="https://digitalcontact.com/Anti-Spam-Policy/") Antispam 
                            a(href="https://digitalcontact.com/Privacy-Policy/") Privacy Policy
                            span | 
                            span © 2008-2019 Digital Contact. All Rights Reserved
                    