footer.footer.section
            .wrapper
                .footer__content
                    .footer__left
                        .paginpage
                            a(href="#firstPage")
                            a(href="#secondPage")
                            a(href="#thirdPage")
                            a(href="#fourthPage")
                            a(href="#fifthPage")
                            a(href="#sixthPage")
                            a(href="#seventhPage")
                            a(href="#eighthpage").activepage
                    .footer__right
                        .footertop
                            .footertop__blockitem
                                a(href="#") Modules 
                                a(href="#") AI-Driven Personalization 
                                a(href="#") Journey Automation
                                a(href="#") Campaign Management
                                a(href="#") Comprehensive Analytics 
                            .footertop__blockitem
                                a(href="") Company
                                a(href="") About us
                                a(href="") Career
                                a(href="") Legal 
                            .footertop__blockitem.footertop__blockitem_column
                                a(href="#") Book a demo 
                                a(href="#") Contact us
                            //- .footertop__blockitem
                            //-     a(href="#") Contact us
                            .footertop__blockitem.footertop__blockitem_logo
                                .logolonk
                                    a(href="#") Digital<br> Contact
                                        span .
                                .blocksocials
                                    a(href="#") 
                                        img(src="./images/insta.png", alt="")
                                    a(href="#")
                                        img(src="./images/fb.png", alt="")
                                    a(href="#")
                                        img(src="./images/you.png", alt="")

                        .footerbottom
                            .footerbottom__blockitem
                                span SKY NETWORK CORPORATION 
                                span LIMITED
                                span Office 4, 10/F
                                span Kwan Chart Tower
                                span No. 6 Tonnochy Road, Wan Chai
                                span Hong Kong, PRC
                                a(href="#") info@digitalcontact.com
                            .footerbottom__blockitem 
                                span IT Service LLC
                                span 26c5, Leninskaya Sloboda, Simonov Plaza
                                span Moscow, 115280, Russian Federation
                                span Customer Service: 
                                    a(href="#") support@digitalcontact.com
                                span Public Relations: 
                                    a(href="#") marketing@digitalcontact.com
                            .blocksocials
                                a(href="#") 
                                    img(src="./images/insta.png", alt="")
                                a(href="#")
                                    img(src="./images/fb.png", alt="")
                                a(href="#")
                                    img(src="./images/you.png", alt="")
                            .footerbottom__bottomtext
                                .footerbottom__itemblock
                                    span Privacy Policy  
                                    span Antispam
                                    span Privacy Policy  
                                .footerbottom__itemblock
                                    span © 2008-2018 Digital Contact. All Rights Reserved
                    