header.sect_header
    .wrapper
        .header
            .header__left
                .header__logo
                    img(src="./images/logo.png", alt="") 
                .header__menu
                    .header__menu_item
                        a(href="https://digitalcontact.com/capabilities/ ") Modules              
                    .header__menu_item
                        a(href="javascript: void(0);") Company   
                        .header__submenu
                            .header__submenuitem
                                a(href="https://digitalcontact.com/about/ ") About us
                            .header__submenuitem
                                a(href="https://digitalcontact.com/careers/") Career 
                            .header__submenuitem
                                a(href="https://digitalcontact.com/Terms-of-Use/ ") Legal 
                    .header__menu_item
                        a(href="https://digitalcontact.com/contact/") Contact us 
            .header__right
                .header__demo
                    .button.button_main
                        img(src="./images/play.svg", alt="")
                        span DEMO
            .header__burger.burger
                img(src="./images/burger.svg_.png", alt="")

            .adaptmenu
                    .adaptmen__close.close
                        img(src="./images/close.png", alt="")
                    .adaptmenu__content
                       
                        .adaptmenu__item
                            a(href="#") Modules  
                        .adaptmenu__item
                            a(href="#") Company  
                        .adaptmenu__item
                            a(href="#") About us
                        .adaptmenu__item
                            a(href="#") Career
                        .adaptmenu__item
                            a(href="#") Legal 
                        .adaptmenu__item
                            a(href="#")  Contact us 
