.sect5{
    background-image: url(../images/sect5.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #f8f8f8;
    background-position-x: right;
    padding-bottom: rem(100);

    &__content{
        padding-top: rem(143);
        display: flex;
    }

    &__right{
        flex: 1;
    }
}


@media screen and (max-width:769px){
    .sect5{
        padding: 164px 0 85px 0;
        background-image: url(../images/sect5_m.png);
        background-size: cover;
        background-position: top -600px right;

        &__content{
            padding: 0;
        }

        &__right{
            width: 100%;
        }
    }
}