.sect6{
    background-image: url(../images/sect6.png);
    // background-color: rgb(238, 238, 238);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: rem(100);

    &__content{
        padding-top: rem(166);
        display: flex;
    }

    &__right{
        flex: 1;
    }

    .blockslider{
        &__content{
            flex-direction: row-reverse;
        }

        &__button{
            display: flex;
            justify-content: flex-end;
        }
    }
}


@media screen and (max-width:769px){
    .sect6{
        padding: 164px 0 115px 0;
        background-image: url(../images/sect6_m.png);

        &__content{
            padding: 0;
        }

        &__right{
            width: 100%;
        }

        .blockslider{
            &__content{
                flex-direction: column;
            }
    
            &__button{
                justify-content: center;
            }
        }
    }
}