.sect1{
    background-image: url(../images/sect1.png);
    background-size: cover;
    padding-top: rem(231);
    padding-bottom: rem(100);
    
    .wrapper{
        width: 100%;
        padding: 0 0 0 rem(166);
    }

    .paginpage{
        padding-top: rem(272);
    }

    &__content{
        display: flex;

    }

    &__right{
        display: flex;
        justify-content: space-between;
        flex: 1;
        padding-right: rem(53);
    }

    &__text{
        width: rem(622);
    }

    &__title{
        margin-bottom: rem(46);
        h1{
            color: $maintext;
            font-size: rem(95);
            font-weight: 700;
            span{
                color: $brand_color;
            }
        }
    }

    &__subtitle{
        margin-bottom: rem(48);
    }

    &__desc{
        p{
            color: #909ea5;
            font-size: rem(18);
            line-height: rem(28);
            font-weight: 400;
        }
    }

    &__sliderblock{
        // width: rem(828);
        width: rem(774);
        padding-top: rem(42);

        .slider{
            margin-bottom: rem(51);

            .swiper-container-sect1{
                overflow: hidden;
            }
            
            .swiper-slide{
                // height: rem(504);
                height: rem(425);
                background-size: cover;
            }
        }

        .custom_pagin{
            display: flex;
            justify-content: center;
            height: rem(16);
            position: relative;

            .strng{
                width: rem(459);
                height: rem(3);
                background-color: #b7b7b7; 
                position: absolute;
                z-index: 100;
                top: 50%;
                transform: translateY(-50%);
            }

            .swiper-pagination-sect1{
                width: rem(459);
                height: rem(16);
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                z-index: 200;
                
            }

            .swiper-pagination-bullet{
                height: rem(16);
                width: rem(16);
                opacity: 1 !important;
                background-color: #b7b7b7;
                outline: none;
                position: relative;
                color: $maintext;
                font-family: montserrat;
                font-size: rem(16);
                font-weight: 500;
                &.swiper-pagination-bullet-active{
                    background-color: $brand_color;
                }
                &:nth-child(1):before{
                    content: "Personalize";
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -24px;
                }
                &:nth-child(2):before{
                    content: "Automate";
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -24px;
                }
                &:nth-child(3):before{
                    content: "Send";
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -24px;
                }
                &:nth-child(4):before{
                    content: "Analyze";
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -24px;
                }
            }
        }
    }
    
}


@media screen and (max-width:769px){
    .sect1{
        background-image: url(../images/sect1_m.png);
        padding-top: 246px;
        padding-bottom: 240px;

        .wrapper{
            padding: 0 20px;
        }

        &__right{
            padding-right: 0;
        }

        &__sliderblock{
            display: none;
        }

        &__text{
            width: 100%;
        }

        &__title{
            h1{
                font-size: 60px;
            }
            margin-bottom: 39px;
        }

        &__subtitle{
            margin-bottom: 27px;
        }

        &__desc{
            p{
                font-size: 15px;
                line-height: 22px;
            }
        }
    }
}