.sect7{
    background-image: url(../images/sect7.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fcfdfd;
    padding-bottom: rem(100);

    background-position-x: right;

    .paginpage{
        a{
            display: none;
        }
    }

    &__content{
        padding-top: rem(308);
        display: flex;
    }

    &__right{
        width: rem(1444);
    }

    &__title{
        padding-bottom: rem(54);
    }

    &__slider{
        display: flex;
        width: rem(1164);
        height: rem(110);
        margin: 0 auto;
        position: relative;

        .swiper-container7{
            overflow: hidden;
            width: 100%;
            
        }

        .swiper-slide{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .swiper-button-next, .swiper-button-prev{
        width: rem(38);
        height: rem(62);
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        outline: none;
        top: 50%;
        transform: translateY(-50%);
        
    }

    .swiper-button-prev{
        background-image: url(../images/arr.png);
        position: absolute;
        left: rem(-107);
        
        
    }

    .swiper-button-next{
        background-image: url(../images/arr.png);
        position: absolute;
        top: 20%;
        right: rem(-120);
        transform: rotate(180deg);

    }

    // .btn_next{
    //     position: absolute;
    //     right: 0;
    //     top: 50%;
    // }

}


@media screen and (max-width:769px) {
    .sect7{
        background-image: none;
        background-color: #f3f3f3;
        padding: 166px 0 127px 0;

        &__content{
            padding: 0;
        }

        &__title{
            padding-bottom: 20px;
        }

        &__slider{
            width: 100%;
            height: 714px;
            padding: 80px 0 50px 0;
            display: flex;
            justify-content: center;

            .swiper-wrapper{
                display: flex;
                align-items: center;
            }

            .swiper-slide{
                width: 80% ;
            }
        }

        .swiper-button-next, .swiper-button-prev{
            
            
        }

        .swiper-button-prev{
            left: inherit;
            top: 0;
            transform: rotate(90deg);
        }

        .swiper-button-next{
            right: inherit;
            top: 93%;
            transform: rotate(-90deg);
        }
    }
}