.sect2{
    background-image: url(../images/sect2.png); 
    background-color: #f3f3f3;
    background-repeat: no-repeat;
    background-position: right top rem(-404);
    background-size: contain ;
    padding-top: rem(237);
    padding-bottom: rem(100);

    &__content{
        padding-right: rem(138);
        display: flex;
        justify-content: space-between;
    }

    &__right{

    }

    &__subtitle, &__desc{
        width: 50%;
    }

    &__subtitle{
        margin-bottom: rem(50);
    }

    &__desc{
        margin-bottom: rem(67);
       p{
            color: #909ea5;
            font-size: rem(23);
            font-weight: 400;
       }
    }

    &__blockpercent{
        display: flex;
        justify-content: space-between;
    }
}

.blockitem{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__number{
        display: flex;
        p{
            color: $brand_color;
            font-size: rem(200);
            font-weight: 700;
        }
        span{
            font-size: rem(90);
            color: $brand_color;
            font-weight: 700;
        }
        .plus{
            display: flex;
            align-items: flex-end;
            padding-bottom: 20px;
        }
    }

    &__text{
        text-align: center;
    }
}


@media screen and (max-width:769px){
    .sect2{
        background-image: url(../images/sect2_m.png);
        padding: 167px 0 137px ;
        background-position: right -10px top -210px;

        &__content{
            padding: 0;
        }

        &__subtitle{
            width: 100%;
            margin-bottom: 27px;
        }

        &__desc{
            width: 100%;
            margin-bottom: 29px;
            p{
                font-size: 15px;
                line-height: 22px;
            }
        }

        &__blockpercent{
            flex-direction: column;
            align-items: center;
        }
    }

    .blockitem{
        width: 50%;
        margin-bottom: 36px;
        &__number{
            p{
                font-size: 110px;
            }
            span{
                font-size: 49px;
            }
            .plus{
                padding-bottom: 18px;
            }
        }   
    }
}