.button{
    
    font-size: rem(17);
    color: $maintext;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(182);
    height: rem(54);
    border: rem(1) solid #2252ee;
    outline: 0;
    cursor: pointer;

    &:hover{
        background-color: $brand_color;
        border: none;
        color: $white;
    }

    &:active{
        color: $maintext;
        background: transparent;
        border: rem(1) solid #2252ee;
    }
    
}

@media screen and (max-width:769px){
    .button{
        width: 182px;
        height: 54px;
        font-size: 17px;
    }
}