.footer{
    padding: rem(169) 0 rem(100) 0;
    background-image: url(../images/bg_footer.png);
    background-position-y: rem(-80);
    background-position-x: rem(-80);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fafafc;


    // .wrapper{
    //     // width: rem(1466);
    // }

    &__content{
        display: flex;
    }

    &__right{
        flex: 1;
    }

    .paginpage{
        a{
            display: none;
        }
    }

}


.footertop{
    display: flex;
    justify-content: space-between;
    padding-bottom: rem(40);
    border-bottom: 1px solid #efefef;
    margin-bottom: rem(43);

    &__blockitem{
        display: flex;
        flex-direction: column;
        a{
            color: $maintext;
            font-family: montserrat;
            font-size: rem(18);
            font-weight: 400;
            line-height: rem(30);
            &:first-child{
                font-size: rem(20);
                font-weight: 700; 
            }
            &:hover{
                text-decoration: underline;
            }
        }
        &_column{
            a{
                font-weight: 700;
                font-size: rem(20);
            }
        }
    }

    .footertop__blockitem_logo{
        .logolonk{
            margin-bottom: rem(20);
            a{
                color: $maintext;
                font-size: rem(94);
                line-height: rem(94);
                font-weight: 700;
                span{
                    color: $brand_color;
                }
                &:hover{
                    color: $brand_color;
                    text-decoration: none;
                }
            }
        }

        .blocksocials{
            display: flex;
            justify-content: flex-end;
            a{
                margin-left: rem(24);
                &:first-child{
                    img{
                        width: rem(33);
                        height: rem(33);
                    }
                }
                &:nth-child(2){
                    img{
                        width: rem(32);
                        height: rem(33);
                    }
                }
                &:last-child{
                    img{
                        width: rem(45);
                        height: rem(32);
                    }
                }
            }
        }   
    }
}

.footerbottom{
    display: flex;
    justify-content: space-between;

    &__blockitem{
        display: flex;
        flex-direction: column;
        span, a{
            color: #909ea5;
            font-size: rem(18);
            font-weight: 400;
            line-height: rem(28);
        }
        &:last-child{
            text-align: right;
        }
        a:hover{
            color: $brand_color;
        }
    }

    .blocksocials{
        display: none;
    }

    &__bottomtext{
        // padding: 0 62px;
        text-align: center;
        display: none;
    }

    &__itemblock{
        display: flex;
        justify-content: center;
        span, a{
            font-size: 10px;
            color: #909ea5;
            font-weight: 300;
        }
        a{
            &:nth-child(2){
                margin: 0 14px;
            }
        }
        &:first-child{
            padding: 0 16px;
        }
       
    }
}

.footerbotbottom{
    padding: rem(54) 0 0 0;
    span, a{
        margin-right: rem(21);
        color: #a9a9a9;
        font-size: rem(16);
        font-weight: 300;
    }
    a:hover{
        color: $brand_color;
    }
}



@media screen and (max-width:769px){
    .footer{
        padding: 168px 0 100px 0;
        background-image: url(../images/bg_footer_m.png);
        background-size: cover;
        background-position-x: right;
        background-position-y: -440px;

        .footertop{
            display: none;
        }

        .footerbottom{
            flex-direction: column;

            &__blockitem{

                span, a{
                    font-size: 20px;
                    line-height: 30px;
                    a{
                        font-size: 20px;
                        line-height: 30px;
                    }
                }

                &:first-child{
                    margin-bottom: 44px;
                }

            }

            .blocksocials{
                display: block;
                margin-top: 44px;
                margin-bottom: 61px;
                a{
                    margin-left: 0;
                    margin-right: 24px;
                }
            }

            &__bottomtext{
                display: block;
            }
        }

        .footerbotbottom{
            display: none;
        }
    }
}


// @media screen and (max-width:420px){
//     .footer{
//         padding: 20px 0 10px 0;

//         &__left{
//             margin-bottom: 20px;
//         }

//         &__right{
//             a{
//                 margin-bottom: 10px;
//             }
//         }
//     }
// }