header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000000;
    height: rem(123);
    box-shadow: 0 rem(4) rem(9) rem(1) rgba(17, 17, 17, 0.13);
    background-color: rgba(255, 255, 255, .77);
    display: flex;
    align-items: center;

    .wrapper{
        width: rem(1650);
    }

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;

        &__left, &__right{
            display: flex;
            align-items: center;
        }

        &__logo{
            position: relative;
            margin-right: rem(143);
        }

        &__menu{
            display: flex;
        }
        
        &__menu_item{
            line-height: rem(48);
            font-size: rem(24);
            margin-right: rem(27);
            position: relative;
            height: rem(67);
            display: flex;
            align-items: center;
            a{
                color: $maintext;
                position: relative;
                &:before{
                    content: '';
                    width: 0;
                    height: rem(5);
                    position: absolute;
                    background: #2a3d4d;
                    display: block;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: 0.2s;
                }
                
            }
            &:hover{
                .header__submenu{
                    display: block;
                }
                a:before{
                    width: 100%;
                    transition: 0.2s;
                }
            }
        
        }

        &__submenu{
            position: absolute;
            display: none;
            padding: rem(24) rem(21) rem(17) rem(21);
            background-color: #2f373b;
            width: rem(255);
            left: rem(100);
            top: rem(53);
        }

        &__submenuitem{
            border-bottom: solid rem(2) rgba(241,241,241,.2);
            margin-bottom: rem(20);
            font-size: rem(24);
            line-height: rem(24);
            padding-bottom: rem(14);
            a{
                color: $white !important;
                &:before{
                    display: none!important;
                }
            }
            &:hover{
                a{
                    text-decoration: underline !important;
                    color: $brand_color !important;
                }
            }
            
        }

        &__demo{
            .button{
                width: rem(160) ;
                height: rem(67) ;
                box-shadow: 0 0 rem(16) rgba(77, 122, 223, 0.7);
                border-radius: rem(34);
                background-color: $brand_color;
                transition: 0.1s;
                &:active{
                    background-color: #254fae;
                    transition: 0.1s;
                }
            }
            span{
                margin-left: rem(10);
                font-size: rem(17);
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: rem(3.4);
                color: $white;
            }
        }

        &__burger{
            width: 64px;
            height: 46px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            display: none;
        }
    }
}


@media screen and (max-width:769px){
    header{
        background-color: $white;
        
        .header{

            &__logo{
                margin-right: 0;
                img{
                    width: 49px;
                    height: 49px;
                }
            }

            &__menu{
                display: none;
            }

            &__demo{
               .button{
                    width: 137px;
                    height: 57px;
               }
               span{
                   font-size: 14px;
                   letter-spacing: 3.4px;
               }
            }

            &__burger{
                display: block;
            }
        }
    }
}